/*-----------------THEME-------------------------*/
@import "variables"

body
  background-color: $body-color

a
  color: $main-fnt-color
  text-decoration: none
  &:hover
    color: $sec-fnt-color
    text-decoration: none


.l-head, .l-footer, .l-main
  color: $main-fnt-color
  background-color: $main-color

.l-menu
  border: 1px $menu-border solid
.l-copyright
.file
  text-decoration: none
  background-color: rgba($file-color, 0.5)
  list-style: none
  &:hover
    background-color: rgba($file-color, 0.2)
